<h2 mat-dialog-title>BankID Login</h2>
<p *ngIf="wrongCode">Fel Kod! Kolla längst ner i rutan :)</p>
<mat-form-field>
  <input type="text" matInput placeholder="Din kod (6-8 siffror)" [(ngModel)]="enteredCode">
</mat-form-field>
<mat-grid-list cols="3" rowHeight="50px">
  <mat-grid-tile
      *ngFor="let button of buttons"
      [colspan]="1"
      [rowspan]="1"
      [style.background]="button.color"
      (click)="gridClick(button.val)"
    >
    {{button.text}}
  </mat-grid-tile>
</mat-grid-list>
<p>Lugn! Vi låtsas bara logga in. Din kod idag är: <b>{{code}}</b>
