<h2 mat-dialog-title>Hej där!</h2>
<img class="gun" src="assets/Gun.svg" alt="Tecknad bild på personen vi kallar Gun" />
<p>
  I det här testet är året inte 2018 utan vi är cirka tio år framåt i tiden.
  Du ska arbeta i USA i två år och du heter Gun. För att undvika missförstånd
  har du valt att registrera ett namn för när du är utomlands.
  Då vill du heta Hannah.
</p>
<p>
  Nu kommer du få testa en prototyp på hur själva namnbytet skulle kunna gå till.
</p>
<button mat-raised-button color="primary" (click)="dialogRef.close()">Ok. Kör igång!</button>
