<mat-toolbar color="accent">Skatteverkets Namnändrarassistent</mat-toolbar>
<app-receive-area></app-receive-area>
<mat-divider></mat-divider>
<app-type-area></app-type-area>
<app-welcome></app-welcome>
