.msg {
  width: 400px;
  padding: 15px;
  position: relative;
}

.infoButton {
  position: absolute;
  top: 10px;
  right: 10px;
}

.receive {
  background-color: #FFFBE9;
}

.send {
  background-color: #FCE781;
}

.error {
  background-color: red;
  color: #ffffff;
}

.options {
  display: inline;
  list-style: none;
}

button {
  margin-bottom: 5px;
}

img {
  max-width:100%;
  max-height:100%;
}
