<div *ngFor="let message of messages" class="msg {{message.class}}">
  <span><b>{{message.person}}:</b></span>
  <span [innerHTML]="message.message"></span>
  <mat-card *ngIf="message.hasOwnProperty('responseCards') && !message.hideCards">
    <li class="options" *ngFor="let button of message.responseCards.buttons">
      <button mat-raised-button color="primary" (click)="buttonClick(button)">{{button.text}}</button>
    </li>
  </mat-card>
  <mat-accordion *ngIf="message.infoText">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Mer Information</mat-panel-title>
      </mat-expansion-panel-header>
      <span [innerHTML]="message.infoText"></span>
    </mat-expansion-panel>
  </mat-accordion>
  <span *ngIf="message.messageTrail" [innerHTML]="message.messageTrail"></span>
</div>
