<mat-form-field>
  <textarea
   id="typeMsg"
   matInput
   [(ngModel)]="chatMsg"
   (keypress)="checkEnter($event)"
   [disabled]="chatLocked"
   placeholder="Skriv här:"
   atTextareaAutosize
   matAutosizeMinRows="2"
   matAutosizeMaxRows="5">
  </textarea>
</mat-form-field>
<button
  mat-raised-button
  color="primary"
  (click)="sendMessage()"
  [disabled]="chatLocked">
  Skicka
</button>
<mat-spinner *ngIf="chatLocked"></mat-spinner>
