/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: sans-serif;
}

.tooltip-host {
  display: inline-flex;
  align-items: center;
}
