// material Theme
@import '~@angular/material/theming';
@include mat-core();

// define a real custom palette (using http://mcg.mbitson.com)
$md-skvyellow: (
    50 : #fffbe9,
    100 : #fef5c9,
    200 : #fdeea5,
    300 : #fce781,
    400 : #fce166,
    500 : #fbdc4b,
    600 : #fad844,
    700 : #fad33b,
    800 : #f9ce33,
    900 : #f8c523,
    A100 : #ffffff,
    A200 : #fffffe,
    A400 : #fff2cb,
    A700 : #ffebb2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-skvblue: (
    50 : #e2e7ec,
    100 : #b7c2d0,
    200 : #889ab0,
    300 : #587190,
    400 : #345279,
    500 : #103461,
    600 : #0e2f59,
    700 : #0c274f,
    800 : #092145,
    900 : #051533,
    A100 : #6c91ff,
    A200 : #396bff,
    A400 : #0645ff,
    A700 : #003cec,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-skvcomp: (
    50 : #eaf6f7,
    100 : #cbe8eb,
    200 : #a8d9de,
    300 : #85c9d1,
    400 : #6bbec7,
    500 : #51b2bd,
    600 : #4aabb7,
    700 : #40a2ae,
    800 : #3799a6,
    900 : #278a98,
    A100 : #d9faff,
    A200 : #a6f3ff,
    A400 : #73ebff,
    A700 : #59e8ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
  );

  // Set the actuall theme
  $custom-primary: mat-palette($md-skvblue);
  $custom-accent:  mat-palette($md-skvyellow);

  $custom-theme: mat-light-theme($custom-primary, $custom-accent);

  @include angular-material-theme($custom-theme);
